<p id="notice"><%= notice %></p>

<h1>Forum</h1>



<article id="posts">
  <% @posts.each do |post| %>
    <section id="post">
      <div id="date"><h1>Posted: <%= post.created_at %></h1></div>
      <h2><%= post.topic %></h2>
      <p><%= post.description%></p>
        <p>
          <%= link_to 'Show', post %> |
          <%= link_to 'Edit', edit_post_path(post)%>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>

    </section>
  <%end%>

    <section>
      <%= link_to 'New Post', new_post_path %>
    </section>

</article>




