
<nav id="links" >
	<ul>
		<li> <%= link_to "Home", root_path %>
		<li> <%= link_to "Forum", forum_path %>
		<li> <%= link_to "About", info_path %>
		<li> <%= link_to "Research", research_path %>
		<li> <%= link_to "Surf", surf_path %>
		<li> <%= link_to "Pier", pier_path %>
		<li> <%= link_to "Places", places_path %>
	</ul>
</nav>
