<!DOCTYPE html>
<html>
	<nav>
		<ul>
			<%= link_to "	 Home	", root_path %>
			<%= link_to "	 Events     ", events_path %>
			<%= link_to "	 Info     ", info_path %>
			<%= link_to "	 Research     ", research_path %>
			<%= link_to "	 Surf     ", surf_path %>
			<%= link_to "	 Pier     ", pier_path %>
		</ul>


	</nav>
</html>
