<!DOCTYPE html>
<html>
	<nav id="links" role="navigation">
		<ul>
			<li> <%= link_to "Home", root_path %>
			<li> <%= link_to "Events", events_path %>
			<li> <%= link_to "About", info_path %>
			<li> <%= link_to "Research", research_path %>
			<li> <%= link_to "Surf", surf_path %>
			<li> <%= link_to "Pier", pier_path %>
		</ul>
	</nav>
</html>
