<!DOCTYPE html>
<html>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Events", events_path %></li>
			<li><%= link_to "Info", info_path %></li>
			<li><%= link_to "Research", research_path %></li>
			<li><%= link_to "Surf", surf_path %></li>
			<li><%= link_to "Pier", pier_path %></li>
		</ul>


	</nav>
</html>
